body {
    background: linear-gradient(to left,#eef1f8,rgba(195,204,218,.5),#eef1f8);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}