.logout-btn {
    background-color: transparent;
    padding: 0 !important;
    justify-content: space-between;
}

.top-settings {
    display: flex;
}

.navbar-panel {
    padding: 25px 30px 25px 70px;
}

.example-icon {
    display:flex !important;
    justify-content:center;
    align-items: center;
}